<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated labyrinth -->
      <package
            uri="http://labyrinthtalesofgamers.com/"
            class="labyrinth_tales_of_gamers.Labyrinth_tales_of_gamersPackage"
            genModel="meta-model/labyrinth.genmodel"/>
   </extension>

</plugin>
